<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengniao.remind">

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!--手机震动-->
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--######################高的地图#########################-->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d7a5c138c9ee2a5053900a9a6a8c3fe3" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"></service>


        <!--######################################################-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="86jO5Li1FH5ZuYK1PsGrUziHij92RM72" />


        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.activity.ChooseSiteActivity">

        </activity>


        <service
            android:name=".service.RemindService"
            android:enabled="true"
            android:process=":remind" />

        <!--守护进程-->
        <service
            android:name=".service.ProtectService"
            android:enabled="true"
            android:process=":protect" />

        <!--监听广播，拉起service-->
        <receiver android:name=".reciver.ProtectReceiver">
            <intent-filter>
                <action android:name="com.fengniao.reciver.protect" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>
    </application>


</manifest>